.container {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: 500;
  flex: 1;
}

.voteCount {
  font-weight: 600;
  color: var(--color-grey);
  margin-right: 1em;
}

.acceptedAnswer {
  width: 22px;
  color: var(--color-primary);
}
